@import '../../settings.scss';

/* div[data-id="tooltip"] {
  backdrop-filter: blur(8px);
  background-color: rgba(34,34,34,0.95);
} */

.tooltip {
  padding: $padding 0;
}

.tooltip__name {
  margin-bottom: 4px;
  font-size: 16px;
}

.tooltip__author {
  font-weight: normal;
  color: #AAA;
  font-size: 14px;
}

.tooltip__choice {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
}

.tooltip__telethon {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  &::after {
    content: ' \2605';
    font-size: 80%;
  }
}