* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #555;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.content {
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 32px;
  margin: 0 auto;
  background-color: #EEE;
}

.categories, .groups, .texture {
  list-style: none;
  margin: 0 0 2rem 0;
  padding-left: 8px;
}

.categories h3 {
  margin-bottom: 8px;
}

.groups h5 {
  margin-bottom: 0;
}

.texture {
  margin: 0 0 24px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.texture li {
  display: block;
  padding: 4px;
  flex: 0 0 auto;
  width: 25%;
}

.texture label {
  position: relative;
  font-size: 12px;
  width: 72px;
  cursor: pointer;
}

.texture-group {
  display: flex;
  align-items: center;
  padding: 8px;
}

.texture label input:checked + .texture-group   {
  background-color: #FFF;
  box-shadow: 0 0 0 2px #9DF;
  border-radius: 4px;
}

.texture-group img {
  flex: 0 0 48px;
  display: block;
  width: 48px;
  height: 48px;
}

.texture-group__text {
  flex: 1;
  margin-left: 8px;
}

.telethon .texture-group__name {
  color: #664400;
}

.texture-group__author {
  color: #AAA;
}

.texture li input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.preview {
  image-rendering: pixelated;
  width: 100%;
  display: block;
}

/* image-rendering behaves differently on firefox than on other browsers
 * this should bring it in line for now
 * as browsers gradually change their implementation of this relatively new property,
 * this file may need further maintenance to keep these previews unblurred
 * or eventually this section may be removed if they get their algorithms in line
 */
@-moz-document url-prefix() {
  .preview {
    image-rendering: crisp-edges;
  }
}